body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    
}

.header, .footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    background-color: #2FA559;
}

.title{
    display: flex;
    width: 100%;
    place-content: center;
    background-color: #CEEFDA;
    font-size: 82px;
    color: #2FA559;
    font-weight: bolder;
    padding: 20px;
}

.body{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #CEEFDA;
}

.body_left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body_right{
    display: flex;
    place-content: center;
    width: 480px;
    height: 480px;
}


div{
    background-color: pink;
}

#grid{
    width: 100%;
    height: 100%;
}

.gridRow{
    display: flex;
    flex-wrap: nowrap;  
}

.cell{
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.cell:hover{
    background-color: aquamarine;
}